.img-container {
  text-align: center;
}

h5, h6, p {
  margin: 10px;
}

p {
  font-size: 10pt;
    line-height: 16px;
}

.images {
  width: 80%;
}

.image {
  width: 70%;
}

.cartItems {
  width: 70%;
}

.submissionRow {
  width: 40%;
}

.checkoutCart {
    margin-right: 395px;
}

.checkoutPrice {
    margin-right: 339px;
}

.orderButton {
  width: 40%;
}
