.img-container {
  text-align: center;
}

h5, h6, p {
  margin: 10px;
}

p {
  font-size: 10pt;
    line-height: 16px;
}

.images {
  width: 100%;
  object-fit: cover;
}

.image {
  width: 70%;
}

.cartItems {
  width: 70%;
}

.submissionRow {
  width: 40%;
}

.orderButton {
  width: 40%;
}

.pointer {
  cursor: pointer;
}

.card-width {
  width: 30%;
}

.header {
  background-color: #f3ea5f;
}

.text-general {
  font-family: 'Ubuntu', sans-serif;
  color: black;
}

.text-header {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.text-name {
  color: #ff48c4;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.text-short {
  color: #c04df9;
}

.text-description {
  color: black;
}

.line-height {
  line-height: 1.4;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.1);
}

.item-text {
  text-align: end;
}

.fa-times,
.required {
  color: red;
}

.fa-check {
  color: green;
}

.checkout {
  width: 208px;
}

@media only screen and (max-width: 768px) {
  .mobile {
    width: 100%;
  }
}

@media only screen and (max-width: 578px) {
  .mobile-header {
    text-align: center;
  }
}
