.img-container {
  text-align: center;
}

h5, h6, p {
  margin: 10px;
}

p {
  font-size: 10pt;
    line-height: 16px;
}

.images {
  width: 80%;
}

.image {
  width: 70%;
}

.cartItems {
  width: 70%;
}

.myCart {
  width: 100%;
  text-align: center;
}

.form {
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.submissionRow {
  width: 40%;
}
